.main_item{
    background-color: #feffc9;
}

.main_item > li + li:before{
    color: #ffeccc;
    font-family: "Glyphicons Halflings";
    content: "\e080";
    font-size: 12px;
}

.form_request{
    margin-bottom: 25px;
}

.request_block{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

button.large{
    border-radius: 25px;
    width: 270px;
}

.request_subform{
    line-height: 70px;
    padding-right: 10px;
}

.catalog a {
	font-size: 18px;
}

.clear {
    height: 35px;
}

.comment{
    margin-bottom: 25px;
}

.carousel-wrapper{
    margin-right: 30px;
}

.carousel-control.right{
    position: absolute;
	right: -65px;
    top: 25px;
}

.carousel-control.left {
	position: absolute;
	left: -65px;
	top: 25px;
}

.mybutton > button {
	margin: 40px auto;
}

.partnerblock{
    border: 2px solid #ffeccc;
}

.partnerblock_home{
    margin-top: 50%;
	border: 1px solid #ffeccc;
    padding: 10px;
}