.main_item{
    background-color: #fff;
}

.main_item > li + li:before {
	color: #ccc;
	font-family: "Glyphicons Halflings";
	content: "\e080";
	font-size: 12px;
}

.form_request {
    margin-bottom: 25px;
}

.create_request {
    background-color: #f8f8f8;
    border: 1px solid grey;
    border-radius: 5px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.request_block{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

button.large{
    border-radius: 25px;
    width: 270px;
}

.request_subform{
    line-height: 70px;
    padding-right: 10px;
}

.catalog a {
	font-size: 18px;
}

.empty {
    height: 40px;
}

.comments {
    margin-bottom: 25px;
}

.carousel-wrapper{
    margin-right: 30px;
}

.carousel-inner{
    outline: 3px solid #ccc;
}

.carousel-control {
    background-image: none !important;
    color: grey;
   font-size: 48px;
}

.carousel-control.right{
    position: absolute;
	right: -65px;
    top: 25px;
}

.carousel-control.left {
	position: absolute;
	left: -65px;
	top: 25px;
}

.mybutton > button {
	margin: 40px auto;
}

.partnerblock{
    border: 2px solid #ffeccc;
}

.partnerblock > div > span {
    margin-top: 50%;
	border: 1px solid #ffeccc;
    padding: 10px;
}

.partnerblock > div > p {
	margin-bottom: 5px;
}

.glyphicon-home{
    font-size: 50px;
    color: #ccc;
}