<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-notify.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% if show_footer %}
    {% include "_footer.html" %}
{% endif %}

    <script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-notify.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>