<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-notify.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Регион: Новосибирск и область <b class="caret"></b></a>
                <ul class="dropdown-menu regions"></ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="private.html"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Выход</a></li>
        </ul>
    </div>
</nav>
<div class="wrapper container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% if show_footer %}
    {% include "_footer.html" %}
{% endif %}

    <script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-notify.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>