<div class="basic_elements col-md-12">
    <div class="col-md-2">
        <a href="#">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
    <div class="col-md-8">
        <ol class="breadcrumb">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог организаций</a></li>
            <li><a href="company.html" class="active">ЖБИ</a></li>
        </ol>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1>Все производители и оптовые компании в Новосибирске и области</h1>
        <h3>ЖБИ</h3>
        <div class="empty"></div>
        {% include "_partners_list.html" %}
    </div>
</div>