<div class="breadcrumb">
    <div class="col-md-2">
        <a href="#"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div class="col-md-8">
        <ol class="breadcrumb">
            <li><a href="index.html">Главная</a></li>
            <li><a href="private.html" class="active">Личный кабинет</a></li>
        </ol>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-2">
		<h1>{{title}}</h1>
	</div>
    <div class="col-md-4 text-right">
		<h4><a href="requests.html">Перейти к заявкам</a></h4>
    </div>
    <div class="col-md-10">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#org" data-toggle="tab">Моя организация</a></li>
                <li><a href="#pass" data-toggle="tab">Смена пароля</a></li>
                <li><a href="#delivery" data-toggle="tab">Моя рассылка</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="org">
                    <div class="form-horizontal">Информация об организации</div>
                </div>
                <div class="tab-pane fade" id="pass">
                    <div class="form-horizontal col-md-12">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="oldp">Старый пароль</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="oldp" placeholder="Старый пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="newp">Новый пароль</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="newp" placeholder="Новый пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="confirm">Подтверждение пароля</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="confirm" placeholder="Повторите новый пароль">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="delivery">
                    <div class="form-horizontal">Макет письма автоматической рассылки</div>
                </div>
            </div>
        </div>
    </div>
</div>