<div class="search">
    <div class="col-md-6 col-md-offset-1">
        <p>Участники в Новосибирске:<a href="catalog.html">105 оптовых компаний</a></p>
    </div>
    <div class="text-center col-md-8 col-md-offset-2">
        <h1 class="text-uppercase">Вам позвонят лучшие поставщики Новосибирска</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 form_request">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <h4>Я ищу:</h4>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">ЖБИ (фундаментальные блоки ФБСб плиты перекрытий ПК, перемычки)
                        </label>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Кирпич / Газобетон / Брус
                        </label>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Бетон / Раствор
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>